<!DOCTYPE html>
<html>
<body>
	<h1> Greetings Customer,
	Your Order: 
	</h1>
	<div> 
		<% totalOrderPrice = 0 %>
		<% @order.line_items.each do |item| %>
			<div>Price </div> 
			<%= item.total_price_cents%>
			<div>Product Name</div>  
			<%= item.product.name%>
			<div>Product Description</div> 
			<%= item.product.description%>
			<div>Product Quantity </div> 
			<%= item.quantity%>
			<div>Product Description</div>  
			<%= item.product.description%>
			<%= image_tag item.product.image.url, class: 'order_img' %>
			<% totalOrderPrice += item.total_price_cents %>
		<% end %>
		Good Bye!
	</div>
</body>
</html>